@{
  Layout = "_Layout";
}

@model Best.Models.Restaurant
@using Best.Models

<h2>@Model.Name</h2>
<hr />
<h3>Cuisines available at this restaurant:</h3>
@if(Model.Cuisines.Count == 0)
{
    <p>No cuisines have been added yet!</p>
}
<ul>
@foreach(Cuisine cuisine in @Model.Cuisines)
{
    <li><h3>@cuisine.Name<h3></li>
}
</ul>

<button class="btn btn-default">@Html.ActionLink("Add cuisine to the list", "Create", "Cuisine", new { id = Model.RestaurantId })</button>

<button class="btn btn-default">@Html.ActionLink("Edit this restaurant", "Edit", new { id = Model.RestaurantId })</button>

<button class="btn btn-default">@Html.ActionLink("Delete this restaurant", "Delete", new { id = Model.RestaurantId })</button>

<button class="btn btn-default">@Html.ActionLink("Back to list", "Index")</button>