@{
  Layout = "_Layout";
}

@model Best.Models.Restaurant

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RestaurantId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

    <input type="submit" value="Save" class="btn btn-default"/>
}

<button class="btn btn-default">@Html.ActionLink("Back to restaurant", "Details", "Restaurant", new { id = @Model.RestaurantId })</button>

<button class="btn btn-default">@Html.ActionLink("See full restaurants list", "Index")</button>